<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Plant: ' + plant.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="plant-listing">
    <p th:text="${'Name: ' + plant.name}"></p>
    <p th:text="${'Description: ' + plant.description}"></p>
    <p th:text="${'Plant Type: ' + plant.plantType.name}"></p>
    <p th:text="${'Number of Days Between Watering: ' + plant.daysBetweenWatering}"></p>

</div>


</body>
</html>